<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Angular | Lab 02 03</title>

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="https://getmdl.io/templates/text-only/images/android-desktop.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Material Design Lite">
	<link rel="apple-touch-icon-precomposed" href="https://getmdl.io/templates/text-only/images/ios-desktop.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="https://getmdl.io/templates/text-only/images/touch/ms-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#3372DF">

	<link rel="shortcut icon" href="https://getmdl.io/templates/text-only/images/favicon.png">

	<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
	<!--
	<link rel="canonical" href="http://www.example.com/">
-->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.deep_purple-pink.min.css">
<link rel="stylesheet" href="https://getmdl.io/templates/text-only/styles.css">
</head>
<body ng-app="locationApp" class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="userPositionController">
		<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
			</div>
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				<h3>Angular | Lab 02 03</h3><br/>

			</div>
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				<p>Controllers, Diretivas, Services, Routes</p>
			</div>
		</header>
		<main class="mdl-layout__content">
			<div class="" id="overview">
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text">
							<h4>Localização</h4>
							<dl>
								<dt>IP</dt><dd>{{data.ip}}</dd>
								<dt>hostname</dt><dd>{{data.hostname}}</dd>
								<dt>Cidade</dt><dd>{{data.city}}</dd>
								<dt>Estado</dt><dd>{{data.region}}</dd>
								<dt>Pais</dt><dd>{{data.country}}</dd>
								<dt>Latitude</dt><dd>{{data.lat}}</dd>
								<dt>Longitude</dt><dd>{{data.lon}}</dd>
							</dl>

						</div>
					</div> 

					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text">
							<h4>Mapa</h4>
							<img ng-src="{{staticMapUrl}}" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300" style="width: 300px;height: 300px;">
						</div>
					</div>

					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text">
							<h4>Previsão do Tempo</h4>
							<img ng-src="{{staticWeatherUrl}}" />
							<dl>
								<dt>Humidade</dt><dd>{{humidity}}</dd>
								<dt>Temp</dt><dd>{{temp}}</dd>
								<dt>Max</dt><dd>{{temp_max}}</dd>
								<dt>Min</dt><dd>{{temp_min}}</dd>
							</dl>
						</div>
					</div>


					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text">
							<h4>CEP</h4>
							<input type="number" ng-model="zipcode"/>
							<dl>
								<dt>Logradouro</dt><dd>{{logradouro}}</dd>
								<dt>Bairro</dt><dd>{{bairro}}</dd>
								<dt>Localidade</dt><dd>{{localidade}}</dd>
								<dt>Estado</dt><dd>{{uf}}</dd>
							</dl>
							<button ng-click="buscaCep()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
								Não sei Meu CEP
							</button>
						</div>
					</div>


				</section>

			</div>
			<footer>
				<p></p>
				<p></p>
			</footer>
		</main>
	</div>
	<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
	<script src="Lab0203Controller.js"></script>
</body>
</html>