<!doctype html>
<html ng-app="app">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
</script>
</head>
<body>
	<div ng-controller="Lab0106Controller">
		<h4>Adicionar</h4>
		<button ng-click="add(1)" class="button">Adicionar</button>
		<a ng-click="subtract(1)" class="button alert">Subtrair</a>
		<h4>Contagem {{ counter }}</h4>
	</div>
	<div ng-app="app">
		<div ng-controller="OutroController">
			<h1>Objeto {{ person }}</h1>
			seu nome:
			<h2>{{ person.name }}</h2>
		</div>
	</div>

	<script type="text/javascript">
		var app = angular.module('app', []);
		app.controller('Lab0106Controller', function($scope) {
			$scope.counter = 0;
			$scope.add = function(amount) { $scope.counter += amount; };
			$scope.subtract = function(amount) { $scope.counter -= amount; };
		});

		app.controller('OutroController', function($scope) {
			$scope.person = {
				name: "Jackson Mafra"
			};
		});
	</script>
</body>
</html>